<h1><%= Timex.format!(@entry.inserted_at, "%B %e %Y", :strftime) %></h1>

<%= render "form.html", changeset: @changeset,
                        action: entry_path(@conn, :update, @entry) %>

<%= link "Back", to: entry_path(@conn, :index) %>
