<h1><%= Timex.format!(@entry.inserted_at, "%B %e %Y", :strftime) %></h1>
<%= @entry.body %>

<ul>
  <li><%= link "Edit", to: entry_path(@conn, :edit, @entry) %></li>
  <li><%= link "Back", to: entry_path(@conn, :index) %></li>
</ul>
