<div class="entry">
  <h1><%= Timex.format!(@entry.inserted_at, "%B %e %Y", :strftime) %></h1>
  <div class="entry-body">
    <%= @entry.body %>
  </div>

  <ul class="actions">
    <li>
      <%= link "Edit", to: entry_path(@conn, :edit, @entry) %>
    </li>
    <l>
      <%= link "All Entries", to: entry_path(@conn, :index) %>
    </li>
  </ul>
</div>
